<div class="measure">
	<p class="measure__title">Оценить данные:</p>
	<label>
		<input type="radio" name="@@name" value="1" />
		<i class="fas fa-star"></i>
	</label>
	<label>
		<input type="radio" name="@@name" value="2" />
		<i class="fas fa-star"></i>
	</label>
	<label>
		<input type="radio" name="@@name" value="3" />
		<i class="fas fa-star"></i>
	</label>
	<label>
		<input type="radio" name="@@name" value="4" checked="checked" />
		<i class="fas fa-star"></i>
	</label>
	<label>
		<input type="radio" name="@@name" value="5" />
		<i class="far fa-star"></i>
	</label>
</div>