							<table class="table--border table--striped p13">
								<col>
								<col>
								<col>
								<col>
								<col style="width: 0">
								<col>
								<col style="width: 0">
								<col style="width: 0">
								<col style="width: 0">
								<tr>
									<th>
										<a href="#" title="Фамилия">Фамилия</a>
									</th>
									<th>
										<a href="#" title="Имя">Имя</a>
									</th>
									<th>
										<a href="#" title="Отчество">Отчество</a>
									</th>
									<th>
										<a href="#" title="Должность">Должность</a>
									</th>
									<th class="center">
										<a href="#" title="Сотрудник = 1 / соискатель = 0">S</a>
									</th>
									<th class="center">
										<a href="#" title="Дата и время последнего отчёта"><i class="far fa-clock"></i></a>
									</th>
									<th class="center">
										<a href="#" title="Формирование нового отчета"><i class="fas fa-sync-alt"></i></a>
									</th>
									<th class="center">
										<a href="#" title="Изменить данные профиля"><i class="fas fa-pencil-alt"></i></a>
									</th>
									<th class="center">
										<a href="#" title="Удалить персону"><i class="fas fa-trash-alt"></i></a>
									</th>
								</tr>
								<tr>
									<td>
										<a href="operator/person.html" class="link--gray">Изотов</a>
									</td>
									<td>
										<a href="operator/person.html" class="link--gray">Сергий</a>
									</td>
									<td>
										<a href="operator/person.html" class="link--gray">Витольдович</a>
									</td>
									<td>
										Ведущий программист
									</td>
									<td class="center">
										1
									</td>
									<td class="green_fon center">
										<a href="operator/person/report.html" title="Перейти к отчёту">08.09.18 12-00</a>
									</td>
									<td class="center">
										<a href="#" title="Сформировать новый отчет"><i class="fas fa-sync-alt"></i></a>
									</td>
									<td class="center">
										<a href="operator/person.html" title="Редактирование"><i class="fas fa-cog"></i></a>
									</td>
									<td class="center">
										<a href="#" title="Удалить персону" class="red"><i class="fas fa-trash-alt"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="operator/person.html" class="link--gray">Золотова</a>
									</td>
									<td>
										<a href="operator/person.html" class="link--gray">Елена</a>
									</td>
									<td>
										<a href="operator/person.html" class="link--gray">Александровна</a>
									</td>
									<td>
										Главный инженер
									</td>
									<td class="center">
										0
									</td>
									<td class="red_fon center">
										<a href="operator/person/report.html" title="Перейти к отчёту" class="modal-link" data-target="report_error">Отчётов нет</a>
									</td>
									<td class="center">
										<a href="#" title="Сформировать новый отчет"><i class="fas fa-sync-alt"></i></a>
									</td>
									<td class="center">
										<a href="operator/person.html" title="Редактирование"><i class="fas fa-cog"></i></a>
									</td>
									<td class="center">
										<a href="#" title="Удалить персону" class="red"><i class="fas fa-trash-alt"></i></a>
									</td>
								</tr>
							</table>

							@@include('../pagination.html')