<input type="checkbox" name="profile" value="profile" id="@@id" class="reg__person_profile__input" @@checked />
<div class="reg__person_profile">
	<div class="reg__person_profile__title">
		<label for="@@id" class="reg__person_profile__label">
			<i class="fa fa-plus link" title="Добавить в профиль"></i>
			<i class="fa fa-check green" title="Убрать из профиля"></i>
		</label>
		<a href="#" target="_blank" title="Перейти на страницу">@@link</a>
		<button class="button-empty red-2" title="Удалить из списка"><i class="fa fa-times"></i></button>
	</div>
	<img src="../img/pages/reg/user.jpg" alt="">
	<div class="reg__person_profile__body">
		<p class="p13 mb-0"><a href="#" title="Перейти на страницу">Фамилия Имя</a></p>
		<p class="p12 mb-0">Город</p>
	</div>
</div>