<div class="reportlist__prof row">
	<div class="reportlist__prof__diagram col-3">
		<img src="../../img/pages/report/prof_diagram.png" alt="" />
	</div>
	<div class="reportlist__prof__table col-6">
		<h3>@@title</h3>
		<table>
			<tr>
				<td>
					<i class="fas fa-square diagram--green"></i>
				</td>
				<td>Информационно-технологический</td>
				<td class="right">39%</td>
				<td class="right">(117)</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-square diagram--yellow"></i>
				</td>
				<td>Естественно-научный</td>
				<td class="right">26%</td>
				<td class="right">(98)</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-square diagram--red"></i>
				</td>
				<td>Творческий</td>
				<td class="right">15%</td>
				<td class="right">(45)</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-square diagram--blue"></i>
				</td>
				<td>Инженерно-технический</td>
				<td class="right">10%</td>
				<td class="right">(30)</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-square diagram--violet"></i>
				</td>
				<td>Производственно-технологический</td>
				<td class="right">6%</td>
				<td class="right">(18)</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-square diagram--darkblue"></i>
				</td>
				<td>Военно-спортивный</td>
				<td class="right">4%</td>
				<td class="right">(8)</td>
			</tr>
			<tr>
				<td>
					<i class="far fa-square diagram--white"></i>
				</td>
				<td>Финансово-экономический</td>
				<td class="right">0%</td>
				<td class="right">(0)</td>
			</tr>
			<tr>
				<td>
					<i class="far fa-square diagram--white"></i>
				</td>
				<td>Социально-гуманитарный</td>
				<td class="right">0%</td>
				<td class="right">(0)</td>
			</tr>
		</table>
	</div>
	<div class="col-3">
		<div class="report__summary">
			<p class="reportlist__prof__summary__title">Максимальная склонность</p>
			<p class="reportlist__prof__summary__body">Информационно-технологический профиль</p>
			<p class="reportlist__prof__summary__persent">39%</p>
		</div>
	</div>
</div>