<form action="tree.html" method="get" class="tree_positions">
	<p class="mb-0">
		Должность 01
		<a href="#">
			<i class="fas fa-cog" title="Редактировать"></i>
		</a>
		<a href="#" class="red-2">
			<i class="fas fa-trash-alt" title="Удалить"></i>
		</a>
	</p>
	<p class="mb-0">
		Должность 02
		<a href="#">
			<i class="fas fa-cog" title="Редактировать"></i>
		</a>
		<a href="#" class="red-2">
			<i class="fas fa-trash-alt" title="Удалить"></i>
		</a>
	</p>
	<p class="mb-0">
		Должность 03
		<a href="#">
			<i class="fas fa-cog" title="Редактировать"></i>
		</a>
		<a href="#" class="red-2">
			<i class="fas fa-trash-alt" title="Удалить"></i>
		</a>
	</p>

	<p class="mt-20">
		<button type="button" class="link">Добавить новую должность</button>
	</p>
</form>