%button {
    display: inline-block;
    margin: 0;
    padding: 11px 23px;
    line-height: 16px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;

//    text-transform: uppercase;
    color: #fff;

    transition: all 0.2s;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    &.w-100 {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

.button-blue {
    @extend %button;
    background: $blue;
    &:hover {
        background: $blue_hover;
        color: #fff;
    }
}

.button-input {
    @extend %input;
    color: #333;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all 0.2s;
    &:hover {
        color: #fff;
        background: $blue_hover;
        border-color: $blue_hover;
    }
}

.button-green {
    @extend %button;
    background: $green;
    &:hover {
        background: $green_hover;
    }
}

.button-red {
    @extend %button;
    background: #fe0000;
    &:hover {
        background: #c20100;
    }
}
.button-transparent {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-transparent-dark {
    @extend %button;
    padding: 9px 21px;
    border: 2px solid $blue;
    color: $blue;
    &:hover {
        border: 2px solid $blue_hover;
        color: $blue_hover;
    }
}

.button-transparent-light {
    @extend %button;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    &:hover {
        background: #fff;
        color: $blue;
        border-color: $blue;
    }
}

.button-large,
.button-big {
    padding: 13px 29px;
    line-height: 17px;
    font-size: 14px;
}