%input,
input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #444;
    color: #666666;
    background-color: transparent;
    padding: 8px 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    &::placeholder {
        color: #666666;
    }
//    @media all and($xs) {
//        height: 34px;
//        padding: 5px 15px;
//    }
}
input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
    margin-right: 0.5em;
}
input:-moz-placeholder {
   color: #666;
   color: inherit;
   transition: all 0.2s;
}
input::-webkit-input-placeholder { 
   color: #666;
   color: inherit; 
   transition: all 0.2s;
}

.changed input,
input.changed {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
    font-size: 14px;
}

.select {
    overflow: hidden;
    position: relative;
    width: 100%;
    &:after {
        content: '\f107';

        display: block;
        position: absolute;
        z-index: 2;
        top: 1px;
        right: 1px;
        bottom: 1px;

        width: 34px;
        line-height: 34px;
        background: #009bfe;
        pointer-events: none;
        color: #fff;
        font-size: 12px;

        @extend .fas;

        text-align: center;
    }
    select {
        position: relative;
        z-index: 1;

        height: 36px;
        background: transparent;
        color: #111320;
        border: 1px solid #444 !important;
        -webkit-appearance: none;
        color: #333333;
        cursor: pointer;
        display: block;
        font-size: 13px;
        outline: none;
        width: 100%;
        padding: 8px 15px;
        text-indent: 0.01px;
        vertical-align: middle;
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
    }

    &.select--big {
        select {
            height: 40px;
        }
        &:after {
            width: 38px;
        }
    }
    &.select--middle {
        select {
            height: 38px;
        }
        &:after {
            width: 36px;
        }
    }
}

.file_upload {
    position: relative;

    input[type="file"] {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
        outline: none;
    }
    i {
        font-size: 0.9em;
    }
    &:hover {
        cursor: pointer;
        .link {
            color: $blue_hover;
        }
    }
}