%input,
input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #444;
    color: #666666;
    background-color: transparent;
    padding: 8px 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    &::placeholder {
        color: #666666;
    }
//    @media all and($xs) {
//        height: 34px;
//        padding: 5px 15px;
//    }
}
input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
    margin-right: 0.5em;
}
input:-moz-placeholder {
   color: #666;
   color: inherit;
   transition: all 0.2s;
}
input::-webkit-input-placeholder { 
   color: #666;
   color: inherit; 
   transition: all 0.2s;
}

.select {
    overflow: hidden;
    position: relative;
    width: 100%;
    &:after {
        content: '\e80e';

        display: block;
        position: absolute;
        z-index: 2;
        top: 1px;
        right: 1px;
        bottom: 1px;

        width: 34px;
        line-height: 34px;
        background: #009bfe;
        pointer-events: none;
        color: #fff;
        font-size: 12px;

        font-family: "icons";
        font-style: normal;
        font-weight: normal;
        speak: none;

        text-decoration: inherit;
        text-align: center;

        font-variant: normal;
        text-transform: none;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    select {
        position: relative;
        z-index: 1;

        height: 36px;
        background: transparent;
        color: #111320;
        border: 1px solid #444 !important;
        -webkit-appearance: none;
        color: #333333;
        cursor: pointer;
        display: block;
        font-size: 13px;
        outline: none;
        width: 100%;
        padding: 8px 15px;
        text-indent: 0.01px;
        vertical-align: middle;
        margin: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
    }
}