.modal__fon {
	visibility: hidden;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99998;
    background-color: #000000;
    opacity: 0;
    -webkit-transform: opacity 0.3s linear;
    transform: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    &.animated {
    	opacity: 0.5;
    }
}

.modal__message {
	visibility: hidden;
	position: fixed;
    top: 60px;
    right: 50%;
    margin-right: -150px;
    z-index: 99999;
    width: 300px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-transform: translate(0, -100%);
	    transform: translate(0, -100%);
    &.animated {
    	-webkit-transform: translate(0, 0%);
	    transform: translate(0, 0%);
	    transition: -webkit-transform 0.3s ease-out;
	    transition: transform 0.3s ease-out;
	    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    }
}
	.modal__message__title {
		box-sizing: border-box;
		margin: 0;
		min-height: 54px;
		padding: 15px 20px;
	    font-weight: 100;
	    font-size: 14px;
	    line-height: 19px;
	    letter-spacing: 1px;
	    color: #111320;
	    border-bottom: 1px solid #ebebeb;
	}
		.modal__message__close {
			display: block;
			float: right;
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		    border: 0 none;
		    cursor: pointer;
		    padding: 0;
			font-size: 30px;
	    	margin-top: -5px;
	    	font-weight: bold;
		    line-height: 1;
		    opacity: 0.2;
		    color: #000;
		    outline: none;
		}
	.modal__message__body {
		padding: 20px;
		font-size: 14px;
		p {
			font-size: 14px;
			margin-bottom: 10px;
		}
		a {
			font-size: 14px;
		}
	}