.tabs__content {
    display: none;
}
.tabs__content.tabs__content-active {
    display: block;
    margin-top: 40px;
    @media all and($xs) {
        margin-top: 20px;
    }
}

.tabs__title {

}
    .tab__title {
        flex: 1 1 0;
        margin: 0 0 0 2px;
        padding: 13px 29px;
        text-align: center;
        border: 1px solid #f2f2f2;
        font-size: 16px;
        line-height: 17px;
        color: #333;
        text-decoration: none;
        background: #f2f2f2;
        transition: all 0.2s;

        &:first-child  {
            margin-left: 0;
        }
        &:hover  {
            background: #f8f8f8;
            border: 1px solid #f8f8f8;
            color: #333;
        }

    }
    .tab__title-active,
    .tab__title-active:hover {
        @extend .tab__title;
        background: #fff;
        border: 1px solid #f8f8f8;
        cursor: default;
    }

    .like_tab__title {
        @extend .tab__title;
    }
    .like_tab__title-active,
    .like_tab__title-active:hover {
        @extend .tab__title-active;
    }

    .tabs__container {
        .tab__title {
            @media all and($xs) {
                display: block;
                margin-top: 20px;
                width: calc(100% - 32px);
            }
        }
    }

