 h1,
.h1 {
    padding: 0;
    margin: 0 0 20px;
    font-size: 42px;
    font-weight: 100;
    line-height: 1.4em;
    letter-spacing: 1px;
    @media all and($xs) {
        line-height: 1.2em;
        font-size: 32px;
    }
}
h2,
.h2 {
    padding: 0;
    margin: 50px 0 20px;
    color: $text;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: 0;
    font-weight: normal;
    &:first-child {
        margin-top: 0;
    }
    b {
        font-weight: bold;
    }
}
h3,
.h3 {
    padding: 0;
    margin: 50px 0 20px;
    color: $text;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0;
    font-weight: normal;
    &:first-child {
        margin-top: 0;
    }
    b {
        font-weight: bold;
    }
}
h4,
.h4 {
    padding: 0;
    margin: 0 0 20px;
    color: $text;
    font-size: $text_normal;
    line-height: 1.5em;
    font-weight: bold;
}
p,
.p {
    padding: 0;
    margin: 0 0 20px;
    color: $text;
    font-size: $text_normal;
    line-height: 1.5em;
    letter-spacing: 0;
    font-weight: normal;
}
ul {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}
li {
    padding: 0;
    margin: 0;
    font-size: $text_normal;
    line-height: 2em;
    color: $text;
    .icon-ok {
        color: #009bfe;
    }
}
table {
    width: 100%;
    max-width: 99.99%;
    margin-bottom: 23px;
    border-collapse: collapse;
    font-size: $text_normal;
}
th {
    padding: 5px 10px;
    line-height: 1.5em;
    color: #fff;
    font-weight: normal;
    background: $blue_hover;
    a {
        font-size: inherit;
    }
    a, a:hover {
        color: #fff;
    }
}
td {
    border-bottom: 1px solid #dcdcdc;
    padding: 5px 10px;
    line-height: 1.5em;
    color: $text;
    a {
        font-size: inherit;
    }
}
.table--border {
    td, th {
        border: 1px solid #dcdcdc;
    }
}
.table--striped {
    tr:nth-child(odd) {
        background-color: #f6f6f6;
    }
}
a,
.link {
    color: $blue;
    text-decoration: none;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    font-size: $text_normal;
    text-align: left;
    cursor: pointer;
    &:hover {
        color: $blue_hover;
    }
}
.like_text,
.like_text:hover {
    color: $text;
    color: inherit;
}
.link--gray {
    color: inherit;
}
.blue {
    color: $blue;
}
.red {
    color:#e02500;
}
.red-2 {
    color: $red;
}
.green {
    color: $green_text;
}
.green_fon {
    background-color: $green;
    color: #fff;
    a, a:hover {
        color: #fff;
    }
}
.red_fon {
    background-color:$red;
    color: #fff;
    a, a:hover {
        color: #fff;
    }
}
.button-empty {
    text-decoration: none;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}

//font-sizes
.p12,
body .p12 {
    font-size: 12px;
    a {
        font-size: inherit;
    }
}
.p13,
body .p13 {
    font-size: $text_small;
}
.p14,
body .p14 {
    font-size: 14px;
}
.p16,
body .p16 {
    font-size: 16px;
}