$xs:	   'max-width: 768px';
$no-xs:    'min-width: 769px';
$md:	   'max-width: 990px';
$md-only:  'min-width: 769px) and (max-width: 990px';

//colors
$blue:		#00aff0;
$blue_hover: #008de0;
$green:		#25b000;
$green_hover: #1e9100;
$green_text: #00ff20;
$red:		#fe0000;
$text:		#333;

//size
$text_normal:	15px;
$text_small:	13px;
