<footer class="footer">
    <div class="container row">
        <p class="col-4">Разработано в <a href="http://ec-leasing.ru/company" target="_blank">ЗАО "ЕС-лизинг"</a></p>
        <p class="col-4">
            <a href="about.html" class="link--gray">О сервисе</a>
            &nbsp;|&nbsp;
            <a href="feedback.html" class="link--gray">Обратная связь</a>
        </p>
        <p class="col-4">© 2019, ПЕРСОНАЛ. Все права защищены.</p>
    </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="@@path/js/main.js"></script>