	<header class="header">
		<div class="container">
			<div class="header_left-menu">
				<a href="/" class="header_logo">Персонал</a>
				<a href="admin/profile">	
					<span>Настройки</span>
					<i class="fa fa-cogs"></i>		
				</a>
				<a href="/">
					<span>Выход</span>
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</div>
			<div class="header_right-menu">
				<a href="operator.html" class="button-transparent-light p16" title="Список персон"><i class="fa fa-users"></i></a>
				<a href="operator/tree.html" class="button-transparent-light p16" title="Структура организации"><i class="fa fa-sitemap"></i></a>
				<a href="operator/words.html" class="button-transparent-light p16" title="Ключевые слова и фразы"><i class="fas fa-pencil-alt"></i></a>
				<a href="operator/report.html" class="button-transparent-light p16" title="Отчёты"><i class="fas fa-file-alt"></i></a>
				<a href="operator/oplist.html" class="button-transparent-light p16" title="Список операторов"><i class="fa fa-user"></i></a>
				<a href="operator/graph.html" class="button-transparent-light p16" title="Социальный граф организации"><i class="fas fa-link"></i></a>
				<a href="admin/addorg.html" title="Добавить соискателя, сотрудника" class="button-addorg">Добавить&nbsp;соискателя</a>
			</div>
		</div>
	</header>