	<header class="header">
		<div class="container">
			<div class="header_left-menu">
				<a href="/" class="header_logo">Персонал</a>
				<a href="admin/profile">	
					<span>Настройки</span>
					<i class="fa fa-cogs"></i>		
				</a>
				<a href="/">
					<span>Выход</span>
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</div>
			<div class="header_right-menu">
				<a href="@@path/admin.html" title="Список организаций" class="button-transparent-light">Организации</a>
				<a href="@@path/admin/addorg.html" title="Добавить организацию" class="button-addorg">Добавить&nbsp;организацию</a>
			</div>
		</div>
	</header>