.newpass-form {
	position: relative;
	padding-top: 130px;
	padding-bottom: 30px;

	input[type="text"],
	input[type="password"] {
		width: 20%;
		margin: 0 auto 6px;
	}
	label {
		display: block;
		width: 20%;
		margin: 0 auto 30px;
		color: $text;
		font-size: $text_small;
	}
	p {
		margin: 0 auto 20px 40%;
	}
	.newpass-button {
		margin: 20px auto 30px 40%;
	}
}